body {

}

.container {

}

header, nav, aside, main, footer {

}

header, nav {

}

header img {

}

header img:hover {

}

header img:active {

}

h1, h2 {

}

h1, h2, h3, h4 {

}

nav {

}

nav a {

}

.info-left {

}

.info-right {

}

aside {

}

main {

}

aside h3 {

}

main .main-section section {

}

h4 {

}

footer {

}

.social-icons {

}

.social-icons img {

}

.social-icons img:hover {

}

a:hover{

}

li:hover{

}

@font-face {
    font-family: 'Raleway';
    src: url(https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap);
}

h4, p, li{
    
}